$mainFont: "Montserrat", sans-serif;

$fontMedium: 500;
$fontBold: 600;

$fontSizePrimary: 16px;
$fontSizeSecondary: 14px;
$fontSizePrimaryMobile: 12px;
$fontSizeSecondaryMobile: 16px;
$fontSizeHeaderDesktop: 50px;
$fontSizeHeaderTablet: 48px;
$fontSizeHeadingMedium: 18px;
$fontSizeLabelDesktop: 30px;
$fontSizeLabelTablet: 26px;
$fontSizeLabelMobile: 18px;
$fontSizeHeadingBig: 20px;

$mainColor: #d41443;

$bgColorLight: #ffffff;
$bgColorDark: #ddc28f;
$colorBg1: #4d4d4d;
$colorBgFooter: #F2F2F2;
$colorBg5: #f0d1a5;
$colorBg6: #c2e297;
$colorBg7: #fafafa;
$colorBg8: #fea5bb;

$colorTheme1: #CBBC3B;
$colorTheme2: #ffa5ba;

$colorFont1: #4d4d4d;
$colorFont2: #999999;
$colorFont3: #333333;
$colorFont4: #CFA910;

$icoFill1: #fea5bb;
$icoFill2: #d31342;
$icoFill3: #ffffff;

$btnColor2: #fff;

$colorHoverPrimary: #ecebeb;
$colorHoverSecondary: #c7133e;

$colorPagination: #d9d9d9;
$colorLine: #e1e1e1;

$shadowContact: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
$shadowMenuMobile: -8px 0px 20px 0px rgba(0, 0, 0, 0.25);

$radiusPrimary: 24px;
$radiusSecondary: 6px;
$radiusBtnPrimary: 22px;
$radiusBtnSecondary: 20px;

$cursor: pointer;

$mainTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
