.attraction {
  padding: 15px 0 110px;
  &__introduction {
    display: none;
  }
  &__list {
    list-style: disc;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__item {
    font-size: 14px;
    line-height: 2.142;
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: $colorFont4;
  }
}

@media screen and (min-width: 768px) {
  .attraction {
    padding: 15px 0 200px;
    &__introduction {
      display: block;
      width: 730px;
      margin: 0 auto 70px;
      font-size: 14px;
      line-height: 20px;
      color: #4d4d4d;
    }
    &__list {
      margin: 0 auto;
      width: 668px;
    }
    &__title {
      font-size: 18px;
    }
  }
  .offer-link {
    display: none;
  }
  .gallery-in-attraction {
    display: none;
  }
}
