.footer {
  padding: 40px 0 70px;
  text-align: center;
  &__copyright {
    font-size: 12px;
  }
}

.social__icons {
  margin-bottom: 44px;
  &-link {
    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 20px;
    text-align: left;
    &__up--wrapper {
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
    }
    &__down--wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;
    }
    &__copyright {
      font-size: 12px;
    }
  }

  .social__icons {
    margin-bottom: 0;
  }
}
